---
import { Image } from "astro:assets";
import type { Playlist, Song } from "../lib/spotify";
import { GET as getSpotifyData } from "../pages/api/spotify";
import NowPlaying from "./NowPlaying.astro";
import NowPlayingSkeleton from "./NowPlayingSkeleton.astro";
const response = await getSpotifyData(Astro);
const { playlists, topSongs } = await response.json();
---

<div class="border-box cutout-title" data-title="📻 music">
  <div class="content">
    {
      playlists && topSongs && (
        <>
          <NowPlaying server:defer>
            <NowPlayingSkeleton slot="fallback" />
          </NowPlaying>
          <div class="border-box cutout-title" data-title="playlists">
            <div class="grid gap-2 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
              {playlists.slice(0, 10).map((playlist: Playlist) => (
                <a
                  href={playlist.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="space-y-2"
                >
                  <div class="flex items-center space-x-2">
                    <Image
                      src={playlist.image as string}
                      alt={playlist.title}
                      class="h-12 w-12 rounded-sm object-cover"
                      width={12}
                      height={12}
                      loading={"eager"}
                    />
                    <div class="flex-grow">
                      <p class="text-sm font-semibold">
                        {playlist.title.toLowerCase()}
                      </p>
                      <p class="text-xs text-gray-500">
                        {playlist.count} tracks
                      </p>
                    </div>
                  </div>
                </a>
              ))}
            </div>
          </div>
          <div class="border-box cutout-title" data-title="top songs">
            <div class="grid gap-2 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
              {topSongs.map((song: Song) => (
                <a
                  href={song.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="space-y-2"
                >
                  <div class="flex">
                    <Image
                      src={song.image as string}
                      alt={song.title}
                      class="h-12 w-12 rounded-sm object-cover"
                      width={12}
                      height={12}
                      loading={"eager"}
                    />
                    <div class="ml-2">
                      <p class="text-sm font-semibold">
                        {song.title.toLowerCase()}
                      </p>
                      <p class="text-xs text-gray-500">
                        {song.artist.toLowerCase()}
                      </p>
                    </div>
                  </div>
                </a>
              ))}
            </div>
          </div>
        </>
      )
    }
  </div>
</div>

<script>
  import { initAudioToggle } from "./audioToggle";

  if (typeof window !== "undefined") {
    window.addEventListener("load", () => {
      initAudioToggle();
    });
  }
</script>
